# Example environment variables for local development.
APP_ENV=development
LOG_LEVEL=INFO
AWS_REGION=ap-south-1
S3_INPUT_BUCKET=loanlens-uploads
DYNAMODB_RULES_TABLE=loanlens-rules
DYNAMODB_DLA_TABLE=loanlens-dla-snapshot
DYNAMODB_LOGS_TABLE=loanlens-interaction-log
DLA_SNAPSHOT_DATE=2025-05-08
